<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="让阅读更有效率" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="apple-touch-icon" href="/public/img/logo.jpg?v={{ version }}" />
    <link rel="shortcut icon" href="/public/img/favicon.ico?v={{ version }}" />
    <link rel="stylesheet" href="/public/css/codehub.css?v={{ version }}" />
    {% block head %}{% endblock %}
  </head>

  <body class="codehub theme-light">
    <header class="header">
      <div class="container">
        <a class="header__logo" href="/">Codehub <span>让阅读更有效率</span></a>
      </div>
    </header>

    <main>{% block body %}{% endblock %}</main>

    <footer>
      <div class="container">
        <div class="footer">
          本站免费开源，源代码托管在 <a href="https://github.com/rmlzy/codehub" target="_blank">Github</a>，期待您的 Star。
        </div>
      </div>
    </footer>

    <script src="/public/lib/jquery/jquery-3.5.1.min.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>
