{% extends "./base.html" %}

<!-- Body -->
{% block body %}
<div id="js_postList"></div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script>
  $(document).ready(function () {
    var currentPage = 1;
    var currentSize = 20;
    var total = 0;
    var $list = $("#js_postList");
    fetchData(currentPage, currentSize);

    function fetchData(page, size) {
      $.ajax({
        type: "GET",
        url: "/api/post?page=" + page + "&size=" + size,
        success: function (res) {
          if (!res.success) {
            return;
          }
          var htmls = [];
          for (let i = 0; i < res.data.list.length; i++) {
            var post = res.data.list[i];
            // prettier-ignore
            htmls.push(
              '<div class="post">' +
                '<a class="post__title" href="/post/' + post.id + '.html">' + post.title + "</a>" +
                '<div class="post__desc">' + post.summary + "</div>" +
                '<div class="post__meta">' +
                "   <span>" +post.from + "</span>" +
                "   <span>&nbsp;/&nbsp;</span>" +
                "   <span>" +post.timeago + "</span>" +
                "</div>" +
                "</div>"
            );
          }
          $list.append(htmls.join(""));
        },
      });
    }
  });
</script>
{% endblock %}
