@import "grid";
@import "markdown";
@import "loading";
@import "theme-light";
@import "theme-dark";

body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  letter-spacing: 0.8px;
  margin: 0;
}

small {
  font-size: 13px;
}

p,
li {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

h2 {
  margin-bottom: 40px;
  padding: 5px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.bloghub {
  .header {
    position: relative;
    height: 60px;

    &__logo {
      font-size: 28px;
      font-weight: 800;
      line-height: 60px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
      text-decoration: none !important;
      padding: 0 10px;

      span {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  main {
    min-height: 800px;
  }

  footer {
    margin-top: 20px;
    padding: 20px 10px;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}

.post {
  padding: 20px 10px;

  &:last-child {
    border-bottom: none;
  }

  &__list {
    min-height: 100vh;
  }

  &__title {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;

    span {
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      line-height: 1;
    }
  }

  &__desc {
    line-height: 27px;
    font-size: 14px;

    p {
      margin: 0;
    }
  }

  &__meta {
    font-size: 14px;
  }
}

.article {
  padding: 0 10px;

  img {
    display: block;
    margin: 16px auto;
    border-radius: 4px;
    cursor: pointer;
  }
}

.loading__wrapper {
  text-align: center;
  padding: 250px 0;
  display: none;

  p {
    margin: 0;
    margin-left: -8px;
  }
}

.source {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 35px;
  margin-bottom: 27px;
  position: relative;

  &__from {
  }

  &__origin {
    position: relative;
    margin-right: 12px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -12px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
  }
}

.side {
  padding-left: 10px;

  &__title {
    font-size: 16px;
    line-height: 1.78em;
    padding: 30px 0 10px;
  }

  &__list {
    .logo-wrapper {
      margin-bottom: 12px;
      cursor: pointer;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      padding: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.load-more {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  position: relative;
  border-radius: 6px;
  text-align: center;
}
